<template>
    <div class="flex">
        <div class="p-2 w-1/2">
            <Card>
                <div class="flex flex-col">
                    <div class="flex justify-between items-center w-full">
                        <h2><strong>Listado de niños con desnutrición</strong></h2>
                        <div class="flex"> <!-- Botones -->
                            <button @click="abrirModalAgregarPersona()"
                                class="p-2 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white flex items-center justify-center">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="p-2">
                        <li v-for="persona in Personas" :key="persona.id"
                            class="border my-1 rounded-xl flex justify-between items-center p-2 hover:bg-[#eee] cursor-pointer"
                            @click="getPersona(persona.id)">
                            <div class="flex gap-2 items-center">
                                <GenericAvatar />
                                <div class="bg-none text-black flex flex-col">
                                    <h2><strong>{{ persona.primerNombre }} {{ persona.segundoNombre }}
                                            {{ persona.primerApellido }} {{ persona.segundoApellido }} </strong></h2>
                                    <div class="flex gap-3">
                                        <h4 class="text-gray-500">
                                            <strong>Municipio: </strong>
                                            {{ persona.codMpioResidencia }}
                                        </h4>

                                        <h4 class="text-gray-500">
                                            <strong>Asegurador: </strong>
                                            {{ persona.codAsegurador }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="flex gap-1">
                                <button class="rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white p-2 w-8 h-8 text-xs"
                                    @click="editarPersona(persona)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white p-2 w-8 h-8 text-xs"
                                    @click="eliminarPersona(persona.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </Card>
        </div>
        <div class="p-2 w-1/2">
            <Card>
                <div class="flex flex-col">
                    <h2>Detalles:</h2>
                    <!-- Detalles de la persona -->
                    <div v-if="PersonaDetalles != null" class="flex p-2">
                        <div class="flex flex-col p-4 rounded border gap-4 w-full">
                            <div class="flex w-full items-center justify-between">
                                <div class="flex items-center gap-2">
                                    <GenericAvatar />
                                    <h5>
                                        <strong>
                                            {{ PersonaDetalles.primerNombre }}
                                            {{ PersonaDetalles.segundoNombre || "" }}
                                            {{ PersonaDetalles.primerApellido }}
                                            {{ PersonaDetalles.segundoApellido }}
                                        </strong>
                                    </h5>
                                </div>
                                <div class="flex items-center gap-2">
                                    <h5><strong>Sexo:</strong></h5>
                                    <h5> 
                                        {{ PersonaDetalles?.sexo }} 
                                    </h5>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <h5><strong>Nro. de identificación:</strong></h5>
                                <h5> {{ PersonaDetalles.nroIdentificacion }} </h5>
                            </div>
                            <div class="flex justify-between">
                                <h5><strong>Tipo de identificación:</strong></h5>
                                <h5> 
                                    {{ 
                                        TipoIdDemo[
                                            TipoIdDemo.findIndex((i:any)=>i.codigo === PersonaDetalles?.tipoIdentificacion)
                                        ].nombre 
                                    }} 
                                </h5>
                            </div>
                            <div class="flex justify-between">
                                <h5><strong>Fecha de nacimiento:</strong></h5>
                                <h5> 
                                    {{ 
                                        (new Date(PersonaDetalles.fechaNacimiento))
                                            .toLocaleDateString("es-CL", {
                                                 year: "numeric",
                                                 month: "long", 
                                                 day: "numeric"
                                        })  
                                    }} 
                                </h5>
                            </div>
                            <div class="flex justify-between">
                                <h5><strong>Residencia:</strong></h5>
                                <h5> 
                                    {{ 
                                        MunicipioOptions[
                                            MunicipioOptions.findIndex((i:any)=>i.codigo === PersonaDetalles?.codMpioResidencia)
                                        ].nombre 
                                    }} 
                                </h5>
                            </div>
                            <div class="flex justify-between">
                                <h5><strong>Asegurador:</strong></h5>
                                <h5> 
                                    {{ 
                                        AseguradorOptions[
                                        AseguradorOptions.findIndex((i:any)=>i.codigo === PersonaDetalles?.codAsegurador)
                                        ].nombre 
                                    }} 
                                </h5>
                            </div>
                            <hr />
                            <div class="flex flex-col gap-2 p-2">
                                <div class="flex items-center justify-between">
                                    <h2 class="text-xl"><strong>Seguimiento:</strong></h2>
                                    <button @click="abrirSeguimientosForm()"
                                        class="p-2 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white flex items-center justify-center">
                                        Nuevo seguimiento
                                    </button>
                                </div>
                                <ul>
                                    <li v-for="seguimiento in Seguimientos" 
                                        :key="seguimiento.id" 
                                        class="flex justify-between p-2 border rounded-xl mb-1 hover:bg-[#eee] cursor-pointer"
                                        @click="verDetalleSeguimiento(seguimiento)"
                                    >
                                        <div class="flex">
                                            <p> 
                                                {{ 
                                                    (new Date(seguimiento.fechaAtencion))
                                                        .toLocaleDateString("es-CL", {
                                                             weekday: "long",
                                                             year: "numeric",
                                                             month: "long", 
                                                             day: "numeric"
                                                        }) 
                                                }}
                                            </p>
                                        </div>
                                        <div class="flex gap-1">
                                            <button class="rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white p-2 w-8 h-8 text-xs"
                                                @click="editarSeguimiento(seguimiento)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div v-else class="flex flex-col gap-5 items-center my-5">
                        <img src="/empty-box.png" class="w-28" />
                        <p>
                            Haz click en un elemento de la lista para consultar los detalles
                        </p>
                    </div>
                </div>
            </Card>
        </div>
    </div>

    <!-- Bg -->
    <div class="bg-[#444] opacity-50 fixed top-0 left-0 right-0 w-screen h-screen"
        v-if="openModalPersona || openModalSeguimiento || DetalleSeguimiento != null"></div>

    <!-- Modal form persona -->
    <div class="flex items-center justify-center fixed top-0 right-0 w-screen h-screen p-8" v-if="openModalPersona">
        <div class="rounded bg-white p-4 w-full max-w-md flex flex-col max-h-full overflow-auto">
            <div class="flex w-full justify-between items-center mb-4">
                <h2><strong>Persona</strong></h2>
                <button class="p-2 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white"
                    @click="cerrarModalAgregarPersona()">
                    Cerrar
                </button>
            </div>
            <form>
                <Input id="input-primerNombre" label="Primer nombre" placeholder="Primer nombre"
                    v-model="state.formData.primerNombre" />
                <Input id="input-segundoNombre" label="Segundo nombre" placeholder="Segundo nombre"
                    v-model="state.formData.segundoNombre" />
                <Input id="input-primerApellido" label="Primer apellido" placeholder="Primer apellido"
                    v-model="state.formData.primerApellido" />
                <Input id="input-segundoApellido" label="Segundo apellido" placeholder="Segundo apellido"
                    v-model="state.formData.segundoApellido" />
                <Select id="tipoId" label="Tipo de identificación" v-model="state.formData.tipoIdentificacion">
                    <option v-for="option in TipoIdDemo" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Select id="sexoinput" label="Sexo" v-model="state.formData.sexo">
                    <option v-for="option in SexoOptions" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Input id="input-fechaNacimiento" label="Fecha de nacimiento" type="date"
                    v-model="state.formData.fechaNacimiento" />
                <Select id="codmunicipioresidencia" label="Municipio de residencia" v-model="state.formData.codMpioResidencia">
                    <option v-for="option in MunicipioOptions" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Select id="codasegurador" label="Asegurador" v-model="state.formData.codAsegurador">
                    <option v-for="option in AseguradorOptions" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                
                <div class="flex items-center gap-3 justify-end">
                    <button class="p-1 px-4 rounded-full border border-[#73b7ad] text-[#73b7ad] hover:text-[#83c7bd]"
                        @click="cerrarModalAgregarPersona()">
                        Cancelar
                    </button>
                    <button @click.prevent="guardarPersona()"
                        class="p-1 px-4 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal form seguimiento -->
    <div class="flex items-center justify-center fixed top-0 right-0 w-screen h-screen p-8 z-10" v-if="openModalSeguimiento && PersonaDetalles != null">
        <div class="rounded bg-white p-4 w-full max-w-lg flex flex-col max-h-full overflow-auto">
            <div class="flex w-full justify-between items-center mb-4">
                <h2>Seguimiento para: <strong>{{ PersonaDetalles.primerNombre || "" }}</strong></h2>
                <button class="p-2 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white"
                    @click="cerrarSeguimientosForm()">
                    Cerrar
                </button>
            </div>
            <form>                
                <Select id="estadoVital" label="Estado vital" v-model="state.formSeguimiento.estadoVital">
                    <option :value="0" > Vivo </option>
                    <option :value="1" > Fallecido </option>
                </Select>
                <Input v-if="state.formSeguimiento.estadoVital == 1" id="fechaDefuncion" 
                    label="Fecha de defunción" 
                    v-model="state.formSeguimiento.fechaDefuncion" 
                    type="date"
                    :required="state.formSeguimiento.estadoVital == 1"
                />
                <Select v-if="state.formSeguimiento.estadoVital == 1" id="ubicacionDefuncion" 
                    label="Ubicación de defunción" 
                    v-model="state.formSeguimiento.ubicacionDefuncion"
                    :required="state.formSeguimiento.estadoVital == 1"
                > 
                    <option :value="0" > IPS </option>
                    <option :value="1" > Hogar </option>
                </Select>
                <Select id="CodSedeIPSDemo" label="Lugar de atención" v-model="state.formSeguimiento.codLugarAtencion">
                    <option v-for="option in CodSedeIPSDemo" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Input id="fechaAtencion" 
                    label="Fecha de atención" 
                    v-model="state.formSeguimiento.fechaAtencion" 
                    type="date"
                />
                <hr class="my-2" />
                <Input id="pesokg" 
                    label="Peso (kg)" 
                    v-model="state.formSeguimiento.pesoKg" 
                    type="number"
                />
                <Input id="tallacm" 
                    label="Talla (cm)" 
                    v-model="state.formSeguimiento.tallaCm" 
                    type="number"
                />
                <Select id="DNTClasificacionNutricional" label="Clasificación nutricional" v-model="state.formSeguimiento.codClasificacionNutricional">
                    <option v-for="option in DNTClasificacionNutricional" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Select id="DNTManejo" label="Manejo actual" v-model="state.formSeguimiento.codManejoActual">
                    <option v-for="option in DNTManejo" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Input id="desmanejo" 
                    label="Desmanejo" 
                    v-model="state.formSeguimiento.desManejo" 
                />
                <Select id="codUbicacion" label="Ubicación" v-model="state.formSeguimiento.codUbicacion">
                    <option v-for="option in DNTUbicacion" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Input id="desubicacion" 
                    label="Desubicación" 
                    v-model="state.formSeguimiento.desUbicacion"
                />
                <Select id="codTratamiento" label="Tratamiento" v-model="state.formSeguimiento.codTratamiento">
                    <option v-for="option in DNTTratamiento" :key="option.codigo" :value="option.codigo" >
                        {{ option.nombre }} 
                    </option>
                </Select>
                <Input v-if="state.formSeguimiento.codTratamiento === '2'" id="totalSobresFTLC"
                    label="Total de sobres FTLC"
                    v-model="state.formSeguimiento.totalSobresFTLC"
                    type="number"
                />
                <Input v-if="state.formSeguimiento.codTratamiento === '7'" id="otroTratamiento" textArea
                    label="Otro tratamiento"
                    v-model="state.formSeguimiento.otroTratamiento"
                />


                <div class="flex items-center gap-3 justify-end">
                    <button class="p-1 px-4 rounded-full border border-[#73b7ad] text-[#73b7ad] hover:text-[#83c7bd]"
                        @click="cerrarSeguimientosForm()">
                        Cancelar
                    </button>
                    <button @click.prevent="guardarSeguimiento()"
                        class="p-1 px-4 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Detalle seguimiento -->
    <div class="flex items-center justify-center fixed top-0 right-0 w-screen h-screen p-8" v-if="DetalleSeguimiento != null">
        <div class="rounded bg-white p-4 w-full max-w-lg flex flex-col max-h-full overflow-auto">
            <div class="flex flex-col w-full mb-4">
                <h2><strong>Seguimiento</strong></h2>
                <p class="text-gray-500" > 
                    {{
                        (new Date(DetalleSeguimiento.fechaAtencion))
                            .toLocaleDateString("es-CL", {
                                 weekday: "long",
                                 year: "numeric",
                                 month: "long", 
                                 day: "numeric"
                            }) 
                    }} 
                </p>
            </div>

            <div class="p-4 border rounded-xl my-2 flex flex-col gap-4">
                <div class="flex justify-between">
                    <h4><strong>Estado vital:</strong></h4>
                    <h4> {{ estadoVital[DetalleSeguimiento.estadoVital].nombre }} </h4>
                </div>
                <div v-if="DetalleSeguimiento.estadoVital === 1" class="flex justify-between">
                    <h4><strong>Fecha de defunción:</strong></h4>
                    <h4> 
                        {{ 
                            DetalleSeguimiento.fechaDefuncion 
                            ? new Date(DetalleSeguimiento.fechaDefuncion).toLocaleDateString("es-CL", {
                                    year: "numeric",
                                    month: "long", 
                                    day: "numeric"
                            }) 
                            : ""
                        }} 
                    </h4>
                </div>
                <div v-if="DetalleSeguimiento.estadoVital == 1 && DetalleSeguimiento.ubicacionDefuncion != null" class="flex justify-between">
                    <h4><strong>Ubicación de defunción:</strong></h4>
                    <h4> 
                        {{ ubicacionDefuncion[DetalleSeguimiento.ubicacionDefuncion].nombre }} 
                    </h4>
                </div>
            </div>

            <div class="p-4 border rounded-xl my-2 flex flex-col gap-4">
                <div class="flex justify-between">
                    <h4><strong>Lugar de atención:</strong></h4>
                    <h4> 
                        {{ 
                            CodSedeIPSDemo[
                                CodSedeIPSDemo.findIndex((i:any)=>i.codigo === DetalleSeguimiento?.codLugarAtencion)
                            ].nombre 
                        }} 
                    </h4>
                </div>

                <div class="flex justify-between">
                    <h4><strong>Peso:</strong></h4>
                    <h4> {{ DetalleSeguimiento.pesoKg }} kg. </h4>
                </div>   
                <div class="flex justify-between">
                    <h4><strong>Talla:</strong></h4>
                    <h4> {{ DetalleSeguimiento.tallaCm }} cm. </h4>
                </div>                
            </div>

            <div class="p-4 border rounded-xl my-2 flex flex-col gap-4">
                <div class="flex justify-between">
                    <h4><strong>Clasificación nutricional:</strong></h4>
                    <h4> 
                        {{ 
                            DNTClasificacionNutricional[
                                DNTClasificacionNutricional.findIndex((i:any)=>i.codigo === DetalleSeguimiento?.codClasificacionNutricional)
                            ].nombre 
                        }} 
                    </h4>
                </div>
                <hr/>
                <div class="flex justify-between">
                    <h4><strong>Manejo Actual:</strong></h4>
                    <h4> 
                        {{ 
                            DNTManejo[
                                DNTManejo.findIndex((i:any)=>i.codigo === DetalleSeguimiento?.codManejoActual)
                            ].nombre 
                        }} 
                    </h4>
                </div>
                <div class="flex flex-col justify-between">
                    <h4><strong>Desmanejo:</strong></h4>
                    <p> {{ DetalleSeguimiento.desManejo === "" ? "Sin datos" : DetalleSeguimiento.desManejo }} </p>
                </div>
                <hr/>
                <div class="flex justify-between">
                    <h4><strong>Ubicación:</strong></h4>
                    <h4> 
                        {{ 
                            DNTUbicacion[
                                DNTUbicacion.findIndex((i:any)=>i.codigo === DetalleSeguimiento?.codUbicacion)
                            ].nombre 
                        }} 
                    </h4>
                </div>
                <div class="flex flex-col justify-between">
                    <h4><strong>Desubicación:</strong></h4>
                    <p> {{ DetalleSeguimiento.desUbicacion === "" ? "Sin datos" : DetalleSeguimiento.desUbicacion }} </p>
                </div>
                <hr/>
                <div class="flex justify-between">
                    <h4><strong>Tratamiento:</strong></h4>
                    <h4> 
                        {{ 
                            DNTTratamiento[
                                DNTTratamiento.findIndex((i:any)=>i.codigo === DetalleSeguimiento?.codTratamiento)
                            ].nombre 
                        }} 
                    </h4>
                </div>
                <div v-if="DetalleSeguimiento.codTratamiento == '2'" class="flex justify-between">
                    <h4><strong>Total de sobres FTLC:</strong></h4>
                    <p> {{ DetalleSeguimiento.totalSobresFTLC }} </p>
                </div>
                <div v-if="DetalleSeguimiento.codTratamiento == '7'" class="flex flex-col justify-between">
                    <h4><strong>Otro tratamiento:</strong></h4>
                    <p> {{ DetalleSeguimiento.otroTratamiento }} </p>
                </div>
            </div>

            <div class="flex items-center gap-3 justify-end">
                <button class="p-1 px-4 rounded-full bg-[#73b7ad] hover:bg-[#83c7bd] text-white "
                    @click="editarSeguimiento(DetalleSeguimiento)">
                    Editar
                </button>
                <button @click.prevent="cerrarModalDetalleSeguimiento()"
                    class="p-1 px-4 rounded-full border border-[#73b7ad] text-[#73b7ad] hover:text-[#83c7bd]">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref, reactive } from 'vue';
import { PersonController } from '../functions/PersonController';
import { SeguimientoController } from '../functions/SeguimientoController';
import { Persona } from '../interfaces/Persona'
import { Seguimiento } from '../interfaces/Seguimiento'
import Card from '../components/Card.vue';
import Input from '../components/Input.vue';
import Select from '../components/Select.vue';
import GenericAvatar from '../components/GenericAvatar.vue'
import formatoFecha from '../functions/formatoFecha'
import { apiController } from '../functions/apiController'

const Personas = ref<Persona[]>([]);
const PersonaDetalles = ref<Persona | null>(null)
const Seguimientos = ref<Seguimiento[]>([])
const openModalPersona = ref(false)
const openModalSeguimiento = ref(false)
const DetalleSeguimiento = ref<Seguimiento | null>(null)

//APIs
const TipoIdDemo = ref<any>([])
const SexoOptions = ref<any>([])
const MunicipioOptions = ref<any>([])
const AseguradorOptions = ref<any>([])

const estadoVital = [
    {codigo: 0, nombre: "Vivo"},
    {codigo: 1, nombre: "Fallecido"},
]
const ubicacionDefuncion = [
    {codigo: 0, nombre: "IPS"},
    {codigo: 1, nombre: "Hogar"},
]
const CodSedeIPSDemo = ref<any>([])
const DNTClasificacionNutricional = ref<any>([])
const DNTManejo = ref<any>([])
const DNTUbicacion = ref<any>([])
const DNTTratamiento = ref<any>([])


onMounted(async ()=>{
    const def:any = [{codigo: "", nombre:"Selecciona..."}]
    
    const _tipoId = await apiController.getData('TipoIdDemo')
    TipoIdDemo.value = def.concat(_tipoId)
    
    const _sexo = await apiController.getData('sexo')
    SexoOptions.value = def.concat(_sexo)

    const _municipio = await apiController.getData('Municipio')
    MunicipioOptions.value = def.concat(_municipio)
    
    const _asegurador = await apiController.getData('AseguradorDemo')
    AseguradorOptions.value = def.concat(_asegurador)
    
    const _lugarAtencion = await apiController.getData('CodSedeIPSDemo')
    CodSedeIPSDemo.value = def.concat(_lugarAtencion)

    const _DNTClasificacionNutricional = await apiController.getData('DNTClasificacionNutricional')
    DNTClasificacionNutricional.value = def.concat(_DNTClasificacionNutricional)

    const _DNTManejo = await apiController.getData('DNTManejo')
    DNTManejo.value = def.concat(_DNTManejo)

    const _DNTUbicacion = await apiController.getData('DNTUbicacion')
    DNTUbicacion.value = def.concat(_DNTUbicacion)

    const _DNTTratamiento = await apiController.getData('DNTTratamiento')
    DNTTratamiento.value = def.concat(_DNTTratamiento)

})

const state = reactive({
    formData: {
        id: 0,
        tipoIdentificacion: "",
        nroIdentificacion: "",
        primerNombre: "",
        segundoNombre: "",
        primerApellido: "",
        segundoApellido: "",
        sexo: "",
        fechaNacimiento: formatoFecha(new Date()),
        codMpioResidencia: "",
        codAsegurador: ""
    },
    formSeguimiento: {
        id: 0,
        estadoVital: 0,
        fechaDefuncion: formatoFecha(new Date()),
        ubicacionDefuncion: 0,
        codLugarAtencion: "",
        fechaAtencion: formatoFecha(new Date()),
        pesoKg: 0,
        tallaCm: 0,
        codClasificacionNutricional: "",
        codManejoActual: "",
        desManejo: "",
        codUbicacion: "",
        desUbicacion: "",
        codTratamiento: "",
        totalSobresFTLC: 0,
        otroTratamiento: ""
    }
})

async function getPersona(id: any) {
    const _persona: Persona | null = await PersonController.getPersonById(id)
    if (_persona) { 
        PersonaDetalles.value = _persona;
        getSeguimientos(_persona.id)
    }
}

async function getPersonas() {
    const lista: Persona[] = await PersonController.getAllPersons()
    Personas.value = lista;
}
onMounted(() => { getPersonas() })


/* Personas */

const abrirModalAgregarPersona = () => { openModalPersona.value = true; }
const cerrarModalAgregarPersona = () => {
    openModalPersona.value = false;
    state.formData = {
        id: 0,
        tipoIdentificacion: "",
        nroIdentificacion: "",
        primerNombre: "",
        segundoNombre: "",
        primerApellido: "",
        segundoApellido: "",
        sexo: "",
        fechaNacimiento: new Date().toLocaleDateString(),
        codMpioResidencia: "",
        codAsegurador: ""
    }
}

async function guardarPersona() {
    const payload: Persona = {
        id:                 state.formData.id,
        tipoIdentificacion: state.formData.tipoIdentificacion,
        nroIdentificacion:  state.formData.nroIdentificacion,
        primerNombre:       state.formData.primerNombre,
        segundoNombre:      state.formData.segundoNombre,
        primerApellido:     state.formData.primerApellido,
        segundoApellido:    state.formData.segundoApellido,
        sexo:               state.formData.sexo,
        fechaNacimiento:    new Date(state.formData.fechaNacimiento),
        codMpioResidencia:  state.formData.codMpioResidencia,
        codAsegurador:      state.formData.codAsegurador,
        created:            new Date(),
        updated:            new Date()
    }
    try {
        if (state.formData.id === 0) {
            await PersonController.createPerson(payload)
        } else {
            await PersonController.updatePerson(payload.id, payload)
        }
    }
    catch (e) {
        console.log(e)
    }
    finally {
        getPersonas()
        cerrarModalAgregarPersona()
        PersonaDetalles.value = null;
    }
}

function editarPersona(persona: Persona) {
    abrirModalAgregarPersona()
    rellenarFormPersona(persona)
}

function rellenarFormPersona(data: Persona) {
    state.formData = {
        id: data.id,
        tipoIdentificacion: data.tipoIdentificacion,
        nroIdentificacion: data.nroIdentificacion,
        primerNombre: data.primerNombre,
        segundoNombre: data.segundoNombre,
        primerApellido: data.primerApellido,
        segundoApellido: data.segundoApellido,
        sexo: data.sexo,
        fechaNacimiento: formatoFecha(new Date(data.fechaNacimiento)),
        codMpioResidencia: data.codMpioResidencia,
        codAsegurador: data.codAsegurador,
    }
}

async function eliminarPersona(id: any) {
    await PersonController.deletePerson(id)
    await getPersonas()
    PersonaDetalles.value = null
}


/* Seguimientos */

async function getSeguimientos(id: number) {
    const _seguimientos = await SeguimientoController.getAllSeguimientos(id)
        if(_seguimientos) { Seguimientos.value = _seguimientos }
}

const abrirSeguimientosForm = () => { 
    openModalSeguimiento.value = true; 
}
const cerrarSeguimientosForm = () => {
    openModalSeguimiento.value = false;
    state.formSeguimiento = {
        id: 0,
        estadoVital: 0,
        fechaDefuncion: new Date().toLocaleDateString(),
        ubicacionDefuncion: 0,
        codLugarAtencion: "",
        fechaAtencion: new Date().toLocaleDateString(),
        pesoKg: 0,
        tallaCm: 0,
        codClasificacionNutricional: "",
        codManejoActual: "",
        desManejo: "",
        codUbicacion: "",
        desUbicacion: "",
        codTratamiento: "",
        totalSobresFTLC: 0,
        otroTratamiento: ""        
    }
}

function editarSeguimiento(seguimiento: Seguimiento) {
    abrirSeguimientosForm();
    rellenarSeguimientoForm(seguimiento);
}

function rellenarSeguimientoForm(data: Seguimiento) {
    state.formSeguimiento = {
        id:                          data.id,
        estadoVital:                 data.estadoVital,
        fechaDefuncion:              data.fechaDefuncion ? formatoFecha(new Date(data.fechaDefuncion)) : formatoFecha(new Date()),
        ubicacionDefuncion:          data.ubicacionDefuncion ? data.ubicacionDefuncion : 0,
        codLugarAtencion:            data.codLugarAtencion,
        fechaAtencion:               formatoFecha(new Date(data.fechaAtencion)),
        pesoKg:                      data.pesoKg,
        tallaCm:                     data.tallaCm,
        codClasificacionNutricional: data.codClasificacionNutricional,
        codManejoActual:             data.codManejoActual,
        desManejo:                   data.desManejo,
        codUbicacion:                data.codUbicacion,
        desUbicacion:                data.desUbicacion,
        codTratamiento:              data.codTratamiento,
        totalSobresFTLC:             data.totalSobresFTLC,
        otroTratamiento:             data.otroTratamiento
    }
}

async function guardarSeguimiento() {
    const payload: Seguimiento = {
        id:                          state.formSeguimiento.id,
        idPersona:                   PersonaDetalles.value ? PersonaDetalles.value.id : 0,
        estadoVital:                 parseInt(state.formSeguimiento.estadoVital) as 0 | 1,
        fechaDefuncion:              new Date(state.formSeguimiento.fechaDefuncion),
        ubicacionDefuncion:          parseInt(state.formSeguimiento.ubicacionDefuncion) as 0 | 1 | null,
        codLugarAtencion:            state.formSeguimiento.codLugarAtencion,
        fechaAtencion:               new Date(state.formSeguimiento.fechaAtencion),
        pesoKg:                      state.formSeguimiento.pesoKg,
        tallaCm:                     state.formSeguimiento.tallaCm,
        codClasificacionNutricional: state.formSeguimiento.codClasificacionNutricional,
        codManejoActual:             state.formSeguimiento.codManejoActual,
        desManejo:                   state.formSeguimiento.desManejo,
        codUbicacion:                state.formSeguimiento.codUbicacion,
        desUbicacion:                state.formSeguimiento.desUbicacion,
        codTratamiento:              state.formSeguimiento.codTratamiento,
        totalSobresFTLC:             state.formSeguimiento.totalSobresFTLC,
        otroTratamiento:             state.formSeguimiento.otroTratamiento,
        created:                     new Date(),
        updated:                     new Date(),
    }
    try {
        if (state.formSeguimiento.id === 0) {
            await SeguimientoController.createSeguimiento(payload)
        } else {
            await SeguimientoController.updateSeguimiento(payload.id, payload)
        }
    }
    catch (e) {
        console.log(e)
    }
    finally {
        if(PersonaDetalles?.value){ getSeguimientos(PersonaDetalles.value.id) }
        cerrarSeguimientosForm()

        if(DetalleSeguimiento.value != null) {
            verDetalleSeguimiento(payload);
        }
    }
}


// Detalle de seguimiento
async function verDetalleSeguimiento(seguimiento: Seguimiento) {
    const _seguimiento = await SeguimientoController.getSeguimientoById(seguimiento.id, seguimiento.idPersona)
    if(_seguimiento != null) { 
        DetalleSeguimiento.value = _seguimiento;
    }

}

const cerrarModalDetalleSeguimiento = () => {
    DetalleSeguimiento.value = null
}

</script>

<style lang="scss" scoped></style>