<template>
    <div class="rounded-lg shadow-md bg-[#fdfdfd] p-2 w-full h-auto max-h-100 overflow-auto" >
        <slot></slot>
    </div>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>