<template>
    <div class="mb-4">
        <label v-if="props.label" 
            :for="props.id" 
            class="block mb-2 text-sm font-medium text-gray-900"
        >
            {{ props.label }}
        </label>
        <input v-if="!props.textArea"
            :type="props.type" 
            :id="props.id" 
            class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-full focus:ring-[#73b7ad] focus:border-[#73b7ad] block w-full p-2.5" 
            :placeholder="props.placeholder" 
            :required="props.required"
            :value="props.modelValue"
            @input="$emit('update:modelValue', $event.target.value);"
        >
        <textarea v-else
            :type="props.type" 
            :id="props.id" 
            class="bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-xl focus:ring-[#73b7ad] focus:border-[#73b7ad] block w-full p-2.5" 
            :placeholder="props.placeholder" 
            :required="props.required"
            :value="props.modelValue"
            rows="6"
            @input="$emit('update:modelValue', $event.target.value);"
        />
    </div>
</template>

<script setup lang="ts">
    const props = defineProps({
        id: { type: String, required: true },
        label: { type:String, requided: false },
        type: { type:String, default: "text" },
        placeholder: { type: String, default: "" },
        required: { type: Boolean, default: false },
        modelValue: { required: true },
        textArea: {required: false, default: false, type: Boolean}
    })
</script>

<style scoped>

</style>