<template>
    <div class="mb-4">
        <label v-if="label != ''" :for="id" class="block mb-2 text-sm font-medium text-gray-900"> {{ label }} </label>
        <select 
        :id="id" 
        :required="props.required"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        @input="$emit('update:modelValue', $event.target.value);">
            <slot></slot>
        </select>
    </div>
</template>

<script setup lang="ts">
    const props = defineProps({
        id: { type: String, required: true },
        label: {type: String, required: false, default: "" },
        required: { type:Boolean, required: false, default: false }
    })
</script>

<style scoped>

</style>