<template>
    <div class="w-100 flex bg-[#eee]">
        <div class="w-1/5 p-2 h-screen">
            <div class="rounded-lg shadow-md bg-[#fdfdfd] p-2 w-full h-full" >
                <div class="flex column">
                    <button class="rounded-full hover:bg-[#83c7bd] p-2 w-full bg-[#73b7ad]"> Ampliar </button>
                </div>
            </div>
        </div>
        <div class="w-4/5">
            <div class="p-2">
                <Card>
                    <div class="flex items-center justify-between p-2" >
                        <h2><b>Seguimientos</b></h2>
                        <img src="/logo-colombia.png" class="w-28" >
                    </div>
                </Card>
            </div>
            <RouterView/>
        </div>
    </div>
</template>

<script setup lang="ts">
    import Card from '../components/Card.vue';
</script>

<style scoped>

</style>